import Config

# Guardian configs for JWT auth
config :venli_core, VenliCore.Accounts.Guardian,
  issuer: "venli-backend-core",
  secret_key: "secret key for jwt here"

# OAuth configuration for development
config :ueberauth, Ueberauth.Strategy.Google.OAuth,
  client_id: "google client id here",
  client_secret: "google client secret here"
